.clearfix:before,
    .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size:0;
}
.clearfix { *zoom:1;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.wrap{
  width: 100%;
  background-image: url('../images/bj_03.jpg');
}
header{
  width: 100%;
  background-color: #2b2e33;
}
.top{
  margin: 0 auto;
  width: 1200px;
}
.top .home{
  float: left;
  display: block;
  margin-left: 57px;
}
.top .logo{
  margin-left: 324px;
  float: left;
  padding-top: 15px;
}
.top .search{
  display: block;
  float: left;
  margin-left: 224px;
  padding: 27px 0;
}
.top .car{
  display: block;
  float: left;
  margin-left: 68px;
}
.top .login{
  float: left;
  margin-left: 10px;
  display: block;
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  line-height: 90px;
}
section{
  width: 100%;
}
.main{
  margin: 0 auto;
  width: 1200px;
}
.m_up{
  background-image: url('../images/line3_03.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.up_con1{
  width: 1100px;
  margin: 0 auto;
}
.up_left{
  float: left;
  border-left: 5px solid #000;
  font-size: 30px;
  padding-left: 20px;
  line-height: 60px;
  color: #000;
  margin-top: 24px;
  margin-bottom: 80px;
}
.up_right{
  float: right;
}
.up_right>span{
  float: left;
  font-size: 20px;
  color: #000;
  margin-right: 20px;
  margin-top: 46px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}
.up_right>span:nth-child(2){
  font-weight: 600;
}
.up_right>span:nth-child(3){
  font-weight: 600;
  border-bottom: 3px solid #000;
}
.m_down{
  background-color: #fff;
}
.suc_le{
    float: left;
    margin-left: 50px;
    margin-bottom: 151px;
}
.suc_ri{
    float: left;
    width: 792px;
}
.pay{
    margin-top: 168px;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 19px;
    border-bottom: 2px solid #000;
}
.other{
    margin-top: 23px;
}
.other>span:nth-child(1){
    float: left;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.other>span:nth-child(2){
    float: right;
}
.other>span:nth-child(2) a{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    width: 220px;
    line-height: 59px;
    background-color: #fdd900;
    margin-right: 10px;
    text-align: center;
}
.other>span:nth-child(2) a:nth-child(2){
    margin-right: 0;
}





/*尾部*/
footer{
  width: 100%;
}
.f_up{
  background-color: #000;
}
.up_con{
  width: 1200px;
  margin: 0 auto;
}
.help{
  float: left;
  margin-left: 20px;
}
.help h3,.about h3,.people h3{
  font-size: 24px;
  margin-top: 60px;
  color: #fff;
  font-weight: 600;
}
.help p{
  margin-top: 22px;
  padding-bottom: 110px;
}
.help p a{
  display: block;
  float: left;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  margin-right: 40px;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  float: left;
  margin-right: 12px;
  color: #ffd801;
}
.about{
  float: left;
  margin-left: 117px;
}
.about p{
  margin-top: 26px;
  margin-right: 30px;
  float: left;
  padding-bottom: 52px;
}
.about p img:nth-child(3){
  margin-top: 7px;
  margin-left: 27px;
  display: block;
}
.people{
  float: left;
  margin-left: 260px;
}
.people h3{
  margin-bottom: 28px;
}
.people .phone{
  float: left;
  padding-right: 18px;
}
.people span{
  float: left;
  display: block;
  font-size: 16px;
  color: #fff;
  -ms-text-align-last: left;
  text-align: left;
}
.f_down{
  background-color: #2b2e33;
}
.f_con{
  width: 1200px;
  margin: 0 auto;
}
.down_le{
  float: left;
  margin-top: 20px;
}
.down_ri p{
  float: right;
  font-size: 14px;
  color: #707479;
  line-height: 20px;
  text-align: right;
  margin-right: 82px;
  margin-top: 30px;
  margin-bottom: 30px;
}






